:root {
    --color_primary: #000;
    --color_background: #000;
    --color_secondary: #232323;
    --color_tertiary: #121212;
    --color_white: #fff;
    --color_caracter: #B3B3B3;
    --color_border: #B3B3B3;
    --color_text_button: #000;
    --color_scroll: #e1e1e176;
    --color_scroll_hover: #cfcdcdac;

    --color_input_hover: #2A2A2A;
    --color_input_border_hover: #434343;
    --color_button_hover_aside: #F0F0F0;
    --background_linear: linear-gradient(90deg, #af2896, #509bf5);
}